---
// You can add any frontmatter here if needed
---
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>The Journey</title>
    <style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  .choices {
    display: flex;
    gap: 40px;
  }
  .choice {
    cursor: pointer;
    width: 400px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
  }
  .choice-text {
    font-size: large;
  }
</style>
  </head>
  <body>
    <div class="container">
      <h1>Der Busch</h1>
      <p id="story">
        Nach dem du lange überlegt hast welchen Weg du wählen sollst hast du dich schließlich entschieden rechts abzubiegen.<br>
        Gute Entscheidung! <br>
        Du wanderst einen schönen Pfad entlang und kommst schließlich zu einem dichten Rosenbusch.<br><br>
        Unter dem Busch erkennst du eine metallisch glänzende Schachtel.
      </p>

      <div class="choices">
        <a href="/00000">
          <div class="choice-text">Ich schaue in die Schachtel.</div>
          <img src="/assets/03_1.jpeg" alt="Ich schaue in die Schachtel." class="choice">
        </a>
        <a href="/000000">
          <div class="choice-text">Ich lass das lieber liegen.</div>
          <img src="/assets/03_2.jpeg" alt="Ich lass das lieber liegen." class="choice">
        </a>
      </div>
    </div>
  </body>
</html>

