---
// You can add any frontmatter here if needed
---
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>The Journey</title>
    <style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  .choices {
    display: flex;
    gap: 40px;
  }
  .choice {
    cursor: pointer;
    width: 400px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
  }
  .choice-text {
    font-size: large;
  }
</style>
  </head>
  <body>
    <div class="container">
      <h1>Erfrischung gegen Leckeri</h1>
      <p id="story">
        <i>"Stein also. Hmmm... Sehr interessante Wahl. Weiter gehts.<br><b>Eine erfrischende Priese</b> oder <b>Der Duft von frischem Gebäck</b>?"</i>
      </p>

      <div class="choices">
        <a href="/11">
          <div class="choice-text">Eine erfrischende Priese.</div>
          <img src="/assets/07_1.jpeg" alt="Eine erfrischende Priese." class="choice">
        </a>
        <a href="/12">
          <div class="choice-text">Der Duft von frischem Gebäck</div>
          <img src="/assets/07_2.jpeg" alt="Der Duft von frischem Gebäck" class="choice">
        </a>
      </div>
    </div>
  </body>
</html>

