---
// You can add any frontmatter here if needed
---
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>The Journey</title>
    <style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  .choices {
    display: flex;
    gap: 40px;
  }
  .choice {
    cursor: pointer;
    width: 400px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
  }
  .choice-text {
    font-size: large;
  }
</style>
  </head>
  <body>
    <div class="container">
      <h1>Stadt gegen Natur</h1>
      <p id="story">
        <i>"Wer liebt nicht eine erfrischende Priese? Nun gut, eine letzte Frage:<br>
          <b>Die freie Natur</b> oder <b>Eine bezaubernde Stadt</b>?"</i>
      </p>

      <div class="choices">
        <a href="/a">
          <div class="choice-text">Die freie Natur</div>
          <img src="/assets/08_1.jpeg" alt="Die freie Natur" class="choice">
        </a>
        <a href="/a">
          <div class="choice-text">Eine bezaubernde Stadt</div>
          <img src="/assets/08_2.jpeg" alt="Eine bezaubernde Stadt" class="choice">
        </a>
      </div>
    </div>
  </body>
</html>

