---
// You can add any frontmatter here if needed
---
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>The Journey</title>
    <style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  .choices {
    display: flex;
    gap: 40px;
  }
  .choice {
    cursor: pointer;
    width: 400px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
  }
  .choice-text {
    font-size: large;
  }
</style>
  </head>
  <body>
    <div class="container">
      <h1>Die Opfergabe</h1>
      <p id="story">
        <i>"Nun ist es so weit. Du hast alle drei Fragen beantwortet.<br>
        Ich werde dir sogleich deinen Geburtstags-Wunsch offenbaren. Da ist nur noch eine letzte Sache die ich dafür benötige.<br>
        Eine <b>Opfergabe</b><br><br>
        Nimm ein Feuerzeug und verbrenne den Briefumschlag mit dem Buchstaben <b>A</b> den du vorher gefunden hast.<br>
        Erst dann kann ich deinen Wunsch erfüllen."</i>
      </p>

      <div class="choices">
        <a href="/finale">
          <div class="choice-text">Ich habe den A-Brief verbrannt.</div>
          <img src="/assets/lighter.jpeg" alt="Ich habe den A-Brief verbrannt." class="choice">
        </a>

      </div>
    </div>
  </body>
</html>

