---
// You can add any frontmatter here if needed
---
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>The Journey</title>
    <style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  .choices {
    display: flex;
    gap: 40px;
  }
  .choice {
    cursor: pointer;
    width: 600px; /* Set the desired width */
    height: 600px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
  }
  .choice-text {
    font-size: large;
  }
</style>
  </head>
  <body>
    <div class="container">
      <h1>Das Ende</h1>
      <p id="story">
        Liebe Nadine,<br>
        Schön, dass du es bis hier durchgehalten hast.<br>
        All diese Entscheidungen müssen nicht ganz einfach gewesen sein. Aber ich bin sicher du hast wie immer richtig entschieden. <br>
        Öffne nun deinen verbliebenen Briefumschlag. <br>
        Alles Gute zum Geburtstag - Thomas
      </p>

      <div class="choices">
        <a href="/finale">
          <div class="choice-text"></div>
          <img src="/assets/finale.jpeg" alt="Happy Birthday" class="choice">
        </a>

      </div>
    </div>
  </body>
</html>

